.bg-img {
    height: 500px;
    background-image: url(../../images/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position:top center;
}

#margin-top {
    margin-top: 12%;
    font-size: 60px;
}