.cards{
    display: flex;
    justify-content: space-between;
    text-align: center;
}

#card1, #card2, #card3 {
    background-image: url(../../images/image-background-card1.jpg);
    background-size: cover;
    background-position: center center;
    min-height: 350px;
    width: 32%;
    opacity: 0.8;
}



#card2 {
    background-image: url(../../images/image-background-card2.jpg);
}

#card3 {
    background-image: url(../../images/image-background-card3.jpg);
}

.card1 , .card2, .card3 {
    padding:10px 20px;
    box-sizing: border-box;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.225);
}



.second-part {
    height: max-content;
    margin-top: 100px;
    margin-bottom: 100px;
}

.card1 h1 {
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Raleway';
    font-size: 40px;
}
.card2 h1 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 40px;
    color: yellow;
}
.card3 h1 {
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Raleway';
    font-size: 40px;
}

h1, p {
    color: white;
}
