#amount {
    color: yellow;
    font-size: 75px;
    font-weight: bold;
    padding-bottom: 20px;
}

.pricing-box p {
    font-size: 16px;
    padding-top: 10px;
    font-weight: 600;
}

#billed-monthly-text {
    text-transform: uppercase;
    color: yellow;
    padding-top: 50px;
    font-weight: bold;
}

#pricing-head {
    font-size: 35px;
    font-weight: 900;
}

.my-bg {
    background-size: cover;
    background-position: center center;
    min-height: 350px;
    width: 32%;
    opacity: 0.8;
}

#bg1 {
    // background-image: url(../../images/pricing1.jpg);
    background-image: url(https://i.ibb.co/ypZxj8z/pricing1.jpg);

}

#bg2 {
    // background-image: url(../../images/pricing2.jpg);
    background-image: url(https://i.ibb.co/DM9hRXS/pricing2.jpg);
}

#bg3 {
    // background-image: url(../../images/pricing3.jpg);
    background-image: url(https://i.ibb.co/znSbbtw/pricing3.jpg);
}

#my-btn {
    background-color:#fcd842;
    padding: 5px 25px;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;
    margin: 30px;
}
